#footer-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    width: 100%;
    height: 250px;
    background-color: var(--foreground-color);
    color: white;
}

.footer-icons {
    display: flex;
    max-width: 300px;
}