#tech-section {
    scroll-margin-top: 90px;
}
.tech-container {
    z-index: 1;
    max-width: var(--max-section-width);
    width: 100%;
    height: 800px;
}
.tech-container h2:first-child {
    color: var(--secondary-text-color);
    margin-bottom: 20px;
}