.App {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  transition: all 250ms ease-in-out;
}

#particles canvas {
  z-index: -1;
  height: 100%;
  width: 100%;
  position: absolute;
  background-image: var(--background-texture);
}

.temp{
  height: 1500px;
  background-color: var(--background-color);
  z-index: 1;
}

.section {
  z-index: 1;
  color: var(--primary-text-color);
  background-color: var(--background-color);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 70px;
}

/* Medium Devices (≥768px and <1200px) */
@media (max-width: 1200px) {
  .section {
    padding: 50px 20px 0 20px;
  }
}